%h1 Readings in Detail
%div#nav
  =link_to "Home", root_path
%p Click the header to sort by that column.

%table#readings.tablesorter
  %thead
    %tr
      %th Core
      %th Location
      %th Time
      %th Temprature
      %th Humidity
    %tbody
      -@readings.each do |reading|
        %tr
          %td= reading.core
          %td= reading.note
          %td= reading.created_at.localtime
          %td= reading.temprature
          %td= reading.humidity
=will_paginate @readings


%script{:type => "text/javascript",
        :src => "/jquery.tablesorter.js"}
%script{:type => "text/javascript",
        :src => "/readings.js"}
