%h1 Current Sensor Readings!
%div#nav
  =link_to "Readings", readings_path


%div.sensor
  %h3.core Spark 1 (Rhys's Room)
  %p.reading= "Temperature: #{@temperature}&#xb0;".html_safe 
  %p.reading= "Humidity: #{@humidity}%"
  

%div.sensor
  %h3.core Spark 2 (The basement)
  %p.reading= "Temperature: #{@temp2}&#xb0;".html_safe 
  %p.reading= "Humidity: #{@humid2}%"
  
%div.sensor_chart
  %h3.core#core1 This will be a pretty graph
  %svg#spark1

%script{:type => "text/javascript",
        :src => "assets/d3.min.js"} 
%script{:type => "text/javascript",
        :src => "assets/spark.js"}